@using TaskManager.Models
@using TaskManager.Services
@using TaskManager.Services.Interfaces
@using TaskManager.ViewModel

@model IndexEmployeesViewModel
@inject IAuthService authService

@{
    ViewData["Title"] = "Сотрудники";
}

<h1>Сотрудники</h1>

@if (Model.Employees.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Фамилия и инициалы
                </th>
                <th>
                    Наименование подразделения
                </th>
                @if (authService.IsAdmin)
                {
                    <th>
                        Действия
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>
                        @employee.FullName
                    </td>
                    <td>
                        @employee.Department
                    </td>
                    @if (authService.IsAdmin)
                    {
                        <td>
                            <a asp-controller="Employees"
                               asp-action="Edit"
                               asp-route-id="@employee.Id"
                               class="btn btn-link text-primary p-2 text-decoration-none"
                               title="Редактировать">
                                <i class="fas fa-edit fa-lg"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>По вашему запросу ничего не найдено</h2>
}


@if (authService.IsAdmin)
{
    <!-- Форма добавления нового сотрудника -->
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="mb-0">Добавить нового сотрудника</h5>
        </div>
        <div class="card-body">
            <form method="post"
                  asp-action="Create"
                  asp-controller="Employees"
                  class="row g-3">

                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @TempData["Error"]
                    </div>
                }

                <div class="col-md-3">
                    <label class="form-label">Фамилия и инициалы *</label>
                    <input type="text" class="form-control" id="FullName" name="FullName" value="@Model.FailedCreatedEmployee?.FullName" required>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Подразделение *</label>
                    <input type="text" class="form-control" id="Department" name="Department" value="@Model.FailedCreatedEmployee?.Department" required>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Логин *</label>
                    <input type="text" class="form-control" id="Login" name="Login" value="@Model.FailedCreatedEmployee?.Login" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Добавить сотрудника</button>
                </div>
            </form>
        </div>
    </div>
}